* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "_PDMS_Saleem_QuranFont";
  src: url("./PDMS_Saleem_QuranFont.ttf") format("truetype");
}

@font-face {
  font-family: "UthmanicHafs1";
  src: url("./UthmanicHafs1Ex1Ver12.otf") format("truetype");
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow: hidden;
}

.arabic {
  font-family: "_PDMS_Saleem_QuranFont";
  direction: rtl;
  text-align: right;
}
